.content-container{
    
    
        display: grid;
        grid-template-columns:repeat(2) ;
        grid-template-columns: 100px 100px ;
        grid-gap:10px; 
        margin:30px 10px;
        justify-items: center;
    
    }
    
    .cc1{
        background-color: rgb(177, 17, 17);
        grid-template-rows: 1fr;
  
        width: 30%;
        
    }
    .video{
       
        grid-template-rows: 1fr;
  
        
        
    }